fastapi

# dev
pytest
httpx

# old
aioboto3==11.3.0
aiobotocore==2.6.0
aiofiles==23.2.1
aiogram==3.7.0
aiogram-dialog==2.1.0
aiogram-media-group==0.5.1
aiohttp==3.9.5
aioitertools==0.11.0
aioschedule==0.5.2
aiosignal==1.3.1
annotated-types==0.7.0
astroid==3.2.2
async-timeout==4.0.3
asyncpg==0.27.0
attrs==23.1.0
automapper==0.0.0
Babel==2.9.1
beautifulsoup4==4.12.2
blinker==1.6.2
bokeh==3.2.2
boto3==1.28.17
botocore==1.31.17
botocore-stubs==1.31.40
bson==0.5.10
cachetools==5.3.3
certifi==2023.7.22
cffi==1.16.0
charset-normalizer==3.2.0
click==8.1.7
colorama==0.4.6
coloredlogs==15.0.1
contourpy==1.1.1
ctyped==0.8.0
dataclass-wizard==0.22.3
datetimejson==0.1.7
dependency-injector==4.41.0
dill==0.3.8
dnspython==2.4.2
docopt==0.6.2
docxcompose==1.4.0
docxtpl==0.17.0
exceptiongroup==1.1.3
executor==23.2
fasteners==0.18
Flask==2.3.3
Flask-Cors==5.0.0
Flask-WTF==1.2.1
frozenlist==1.4.0
geographiclib==2.0
geolocator==0.1.1
geonames==0.1.3
geopy==2.4.0
gosnomer==0.0.9
h11==0.14.0
h3==3.7.6
humanfriendly==10.0
idna==3.4
isort==5.13.2
itsdangerous==2.1.2
Jinja2==3.1.2
jmespath==1.0.1
jsonpickle==3.0.2
libtad==1.1.1
lxml==5.2.2
magic-filter==1.0.12
markdown-it-py==3.0.0
MarkupSafe==2.1.3
marshmallow==3.21.0
mccabe==0.7.0
mdurl==0.1.2
motor==3.3.2
multidict==6.0.4
mypy==1.10.0
mypy-extensions==1.0.0
num2words==0.5.13
numpy==1.26.0
openai==0.27.4
outcome==1.2.0
packaging==23.1
Paginator==0.5.1
pandas==2.1.1
Pillow==10.0.0
platformdirs==4.2.2
property-manager==3.0
psutil==5.9.5
py-automapper==1.2.3
pycparser==2.21
pydantic==2.7.3
pydantic_core==2.18.4
Pygments==2.17.2
pylint==3.2.2
pymongo==4.6.1
PySocks==1.7.1
python-dateutil==2.8.2
python-docx==1.1.2
python-dotenv==1.0.1
pytz==2023.3
PyYAML==6.0.1
redis==5.1.0
regex==2023.3.23
requests==2.31.0
rich==13.7.1
s3transfer==0.6.2
selenium==4.12.0
shapely==2.0.2
six==1.16.0
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.5
systemd-logging==1.0.1
tiktoken==0.3.3
timezonefinder==6.2.0
tomlkit==0.12.5
tornado==6.3.3
tqdm==4.65.0
trio==0.22.2
trio-websocket==0.10.4
types-aiobotocore-lite==2.6.0
types-aiobotocore-sqs==2.6.0
types-awscrt==0.19.1
typing_extensions==4.12.1
tzdata==2023.3
tzwhere==3.0.3
unicodecsv==0.14.1
Unidecode==1.3.8
urllib3==1.26.15
verboselogs==1.7
Werkzeug==2.3.7
wrapt==1.15.0
wsproto==1.2.0
WTForms==3.1.2
XlsxWriter==3.2.0
xyzservices==2023.7.0
yarl==1.9.2
YooMoney==0.1.0
